# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-
# TEST_INT=PF

TCCL(
    include = [
        "../../../config-templates/tc/template_tc_filtertest_soc_v4_and_v6_into_v6_vxlan_setup.config",
    ],

    test_setup = [
    ],

    test_teardown = [
    ],

    traffic_generators = [
        CustomTrafficGenerator(
            title="soc_UDPv6_enc_dest_port_testcase",
            source=Ref("traffic_partner"),
            destination=Ref("traffic_dut"),
            source_interface=Ref("HOST2_DEV_PF0"),
            destination_interface=Ref("HOST1_DEV_PF0_VF0"),
            duration=10,
            analyzer=[
                Pass(),
                Fail(),
                Fail()
            ],
            skip_layers="Raw",
            packet=[
                """
                Ether(
                    src={OVS_HOST2_PF0_MAC},
                    dst={OVS_HOST1_PF0_MAC}
                ) /
                IPv6(
                    src={OVS_HOST2_6l},
                    dst={OVS_HOST1_6l},
                    version=6,
                    tc=0,
                    fl=0,
                    plen=134,
                    nh=0x11,
                    hlim=64
                ) /
                UDP(
                    sport=0,
                    dport={dport},
                    len=134,
                    chksum=0x0
                ) /
                VXLAN(
                    vni=6000
                ) /
                Ether(
                    src={HOST2_PF0_VF0_MAC},
                    dst={HOST1_PF0_VF0_MAC}
                ) /
                IPv6(
                    version=6,
                    tc=0,
                    fl={flow_label},
                    plen=64,
                    nh=56,
                    hlim=64,
                    src={HOST2_6p},
                    dst={HOST1_6p}
                )
                """
            ],
            expected=[
                """
                Ether(
                    src={HOST2_PF0_VF0_MAC},
                    dst={HOST1_PF0_VF0_MAC}
                ) /
                IPv6(
                    version=6,
                    tc=0,
                    fl={flow_label},
                    plen=64,
                    nh=56,
                    hlim=64,
                    src={HOST2_6p},
                    dst={HOST1_6p}
                )
                """
            ],
            packet_arguments={
                "OVS_HOST1_PF0_MAC": MacAddress(
                    client=Ref("admin_dut"),
                    network="l",
                ),
                "OVS_HOST2_PF0_MAC": MacAddress(
                    client=Ref("admin_partner"),
                    network="l",
                ),
                "OVS_HOST1_6l": [
                    IpAddress(
                        client=Ref("admin_dut"),
                        network="6l",
                    ),
                    IpAddress(
                        client=Ref("admin_partner"),
                        network="6l",
                    ),
                    IpAddress(
                        client=Ref("x86_dut"),
                        network="6p",
                    ),
                ],
                "OVS_HOST2_6l": IpAddress(
                    client=Ref("admin_partner"),
                    network="6l",
                ),
                "HOST1_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_dut"),
                    network="p",
                ),
                "HOST2_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_partner"),
                    network="p",
                ),
                "HOST1_6p": IpAddress(
                    client=Ref("x86_dut"),
                    network="6p",
                ),
                "HOST2_6p": IpAddress(
                    client=Ref("x86_partner"),
                    network="6p",
                ),
                "dport": [
                    4789,
                    4790,
                    5789
                ],
                "flow_label": [
                    922325,
                    922335,
                    922345,
                ],
            },
        ),
    ],
)

