# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-
# TEST_INT=VF

TCCL(
    include = [
        "../../../config-templates/tc/template_tc_filtertest_soc_udpv6_v6_vlan_megafilter_test_setup.config",
    ],

    test_setup = [
    ],

    test_teardown = [
    ],

    traffic_generators = [
        CustomTrafficGenerator(
            title="soc_UDPv6_dest_port_testcase",
            source=Ref("traffic_dut"),
            destination=Ref("traffic_partner"),
            source_interface=Ref("HOST1_DEV_PF0_VF0"),
            destination_interface=Ref("HOST2_DEV_PF0"),
            duration=10,
            analyzer=[
                Pass(),
                Fail(),
                Fail()
            ],
            skip_layers="Raw",
            packet=[
                """
                Ether(
                    src={HOST1_PF0_VF0_MAC},
                    dst={HOST2_PF0_VF0_MAC},
                    type=0x86dd
                ) /
                IPv6(
                    version=6,
                    tc=0,
                    fl=0,
                    plen=9,
                    nh=17,
                    hlim=64,
                    src={HOST1_6p},
                    dst={HOST2_6p}
                ) /
                UDP(
                    sport=49796,
                    dport={dport},
                    len=9,
                    chksum=0xc1b0
                )
                """
            ],
            expected=[
                """
                Ether(
                    src={HOST1_PF0_VF0_MAC},
                    dst={HOST2_PF0_VF0_MAC},
                    type=0x8100
                ) /
                Dot1Q(
                    prio=0,
                    id=0,
                    vlan=6,
                    type=0x86dd
                ) /
                IPv6(
                    version=6,
                    tc=0,
                    fl=0,
                    plen=9,
                    nh=17,
                    hlim=64,
                    src={HOST1_6p},
                    dst={HOST2_6p}
                ) /
                UDP(
                    sport=49796,
                    dport={dport},
                    len=9,
                    chksum=0xc1b0
                )
                """
            ],
            packet_arguments={
                "HOST1_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_dut"),
                    network="p",
                ),
                "HOST2_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_partner"),
                    network="p",
                ),
                "HOST1_6p": IpAddress(
                    client=Ref("x86_dut"),
                    network="6p",
                ),
                "HOST2_6p": IpAddress(
                    client=Ref("x86_partner"),
                    network="6p",
                ),
                "dport": [
                    45596,
                    45597,
                    49796,
                ],
            },
        ),
    ],
)
