# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

HCS(
    duts = [
        Computer(
            tag = [
                "traffic_dut",
                "x86_dut",
                "admin_dut",
            ]
            adapters = [
                NetDevice(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    network = 'l',
                    tag = 'HOST1_DEV_PF0'
                ),
                VF(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    network = 'p',
                    tag = 'HOST1_DEV_PF0_VF0',
                ),
                VFRep(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    tag = 'HOST1_DEV_PF0_VF0_REP'
                ),
            ],
        ),
        Computer(
            tag = [
                "traffic_partner",
                "x86_partner",
                "admin_partner",
            ]
            adapters = [
                NetDevice(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    network = 'l',
                    tag = 'HOST2_DEV_PF0'
                ),
                VF(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    network = 'p',
                    tag = 'HOST2_DEV_PF0_VF0',
                ),
                VFRep(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    tag = 'HOST2_DEV_PF0_VF0_REP'
                ),
            ],
        ),
    ],
)
