# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

traffic_pf_suffixes = ['2', '1']
traffic_vf_rep_suffixes = ['2', '1']
traffic_vf_suffixes = ['2', '1']
traffic_server_suffixes = ['client', 'server']

# This configuration requires that
# hosts are given in this order:
# -m <dut>-soc,<partner>-soc,<dut>,<partner>

HCS(
    duts = [
        Computer(
            tag = "admin_dut",
            adapters = [
                NetDevice(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    network = 'l',
                    tag = 'HOST1_DEV_PF0'
                ),
                VFRep(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    tag = 'HOST1_DEV_PF0_VF0_REP'
                ),
            ],
        ),
        Computer(
            tag = [
                "traffic_partner",
                "admin_partner",
            ],
            adapters = [
                NetDevice(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    network = 'l',
                    tag = 'HOST2_DEV_PF0'
                ),
                VFRep(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    tag = 'HOST2_DEV_PF0_VF0_REP'
                ),
            ],
        ),
        Computer(
            tag = [
                "traffic_dut",
                "x86_dut",
            ],
            adapters = [
                NetDevice(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    num_vfs = 1,
                ),
                VF(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    tag = 'HOST1_DEV_PF0_VF0',
                    network = 'p',
                ),
            ],
        ),
        Computer(
            tag = "x86_partner",
            adapters = [
                NetDevice(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    num_vfs = 1,
                ),
                VF(
                    board_type = 'vcu1525',
                    pf_index = 0,
                    vf = 0,
                    tag = 'HOST2_DEV_PF0_VF0',
                    network = 'p',
                ),
            ],
        ),
    ],
)
