# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

TCCL(
    test_setup = [
        # ip link add vxlan0 type vxlan external dstport 4789
        Ip(
            client=Ref("admin_dut"),
            command='link',
            argument=[
                'add {VXLAN_NAME} type vxlan external dstport {DSTPORT}',
                'set dev {VXLAN_NAME} up',
            ],
            argument_params={
                "DSTPORT": 4789,
                "VXLAN_NAME": "vxlan0",
            },
        ),
        Ip(
            client=Ref("admin_dut"),
            command='address',
            argument='show',
        ),
        TC(
            client=Ref("admin_dut"),
            command='qdisc',
            argument=[
                'add dev {VXLAN_NAME} ingress',
                'add dev {DEV_PF0_VF0_REP} ingress',
                'add dev {DEV_PF0} ingress',
            ],
            argument_params={
                "VXLAN_NAME": "vxlan0",
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
        ),
        TC(
            client=Ref("admin_dut"),
            command='filter',
            argument=[
                "del dev {DEV_PF0_VF0_REP} parent ffff:",
                "del dev {DEV_PF0} parent ffff:",
            ],
            argument_params={
                "DSTPORT": 4789,
                "VXLAN_NAME": "vxlan0",
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
            ignore=[
                "Error: Parent Qdisc doesn't exists.",
            ],
        ),
        TC(
            client=Ref("admin_dut"),
            command='filter',
            argument=[
                "add dev {DEV_PF0_VF0_REP} parent ffff: chain 0 prio 2 protocol ip "
                "flower dst_mac {HOST2_PF0_VF0_MAC} src_mac {HOST1_PF0_VF0_MAC} dst_ip {HOST2_p} src_ip {HOST1_p} ip_flags nofrag "
                "action tunnel_key set src_ip {HOST1_6l} dst_ip {HOST2_6l} id 4000 dst_port {DSTPORT} "
                "action mirred egress redirect dev {VXLAN_NAME}",

                "add dev {DEV_PF0_VF0_REP} parent ffff: chain 0 prio 3 protocol ipv6 "
                "flower dst_mac {HOST2_PF0_VF0_MAC} src_mac {HOST1_PF0_VF0_MAC} dst_ip {HOST2_6p} src_ip {HOST1_6p} ip_flags nofrag "
                "action tunnel_key set src_ip {HOST1_6l} dst_ip {HOST2_6l} id 6000 dst_port {DSTPORT} "
                "action mirred egress redirect dev {VXLAN_NAME}",

                "add dev {VXLAN_NAME} parent ffff: chain 0 prio 2 protocol ipv4 "
                "flower enc_src_ip {HOST2_6l} enc_dst_ip {HOST1_6l} enc_key_id 4000 enc_dst_port {DSTPORT} "
                "action tunnel_key unset "
                "action mirred egress redirect dev {DEV_PF0_VF0_REP}",

                "add dev {VXLAN_NAME} parent ffff: chain 0 prio 3 protocol ipv6 "
                "flower enc_src_ip {HOST2_6l} enc_dst_ip {HOST1_6l} enc_key_id 6000 enc_dst_port {DSTPORT} "
                "action tunnel_key unset "
                "action mirred egress redirect dev {DEV_PF0_VF0_REP}",
            ],
            argument_params={
                "DSTPORT": 4789,
                "VXLAN_NAME": "vxlan0",
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
                "HOST1_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_dut"),
                    network="p",
                ),
                "HOST2_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_partner"),
                    network="p",
                ),
                "HOST1_p": IpAddress(
                    client=Ref("x86_dut"),
                    network="p",
                ),
                "HOST2_p": IpAddress(
                    client=Ref("x86_partner"),
                    network="p",
                ),
                "HOST1_6p": IpAddress(
                    client=Ref("x86_dut"),
                    network="6p",
                ),
                "HOST2_6p": IpAddress(
                    client=Ref("x86_partner"),
                    network="6p",
                ),
                "HOST1_6l": IpAddress(
                    client=Ref("admin_dut"),
                    network="6l",
                ),
                "HOST2_6l": IpAddress(
                    client=Ref("admin_partner"),
                    network="6l",
                ),
            },
        ),
        Ip(
            client=Ref("admin_dut"),
            command='address',
            argument='show',
        ),
        Ip(
            client=Ref("admin_dut"),
            command='-d link',
            argument='show',
        ),
        TC(
            client=Ref("admin_dut"),
            command='filter',
            argument=[
                "show dev {DEV_PF0_VF0_REP} egress",
                "show dev {DEV_PF0} egress",
            ],
            argument_params={
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
        ),
        TC(
            client=Ref("admin_dut"),
            command='chain',
            argument=[
                "show dev {DEV_PF0_VF0_REP} egress",
                "show dev {DEV_PF0} egress",
            ],
            argument_params={
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
        ),
    ],

    test_teardown = [
    ],

    traffic_generators = [
    ],
)

