# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

TCCL(
    test_setup = [
        # ip link add vxlan0 type vxlan external dstport 4789
        Ip(
            client=Ref("admin_dut"),
            command='link',
            argument=[
                'add {VXLAN_NAME} type vxlan external dstport {DSTPORT}',
                'set dev {VXLAN_NAME} up',
            ],
            argument_params={
                "DSTPORT": 4789,
                "VXLAN_NAME": "vxlan0",
            },
        ),
        Ip(
            client=Ref("admin_dut"),
            command='address',
            argument='show',
        ),
        TC(
            client=Ref("admin_dut"),
            command='qdisc',
            argument=[
                'add dev {VXLAN_NAME} ingress',
                'add dev {DEV_PF0_VF0_REP} ingress',
                 'add dev {DEV_PF0} ingress',
            ],
            argument_params={
                "VXLAN_NAME": "vxlan0",
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
            ignore=[
                "Error: Exclusivity flag on, cannot modify",
            ],
        ),
        TC(
            client=Ref("admin_dut"),
            command='filter',
            argument=[
                "del dev {DEV_PF0_VF0_REP} parent ffff:",
                "del dev {DEV_PF0} parent ffff:",
            ],
            argument_params={
                "DSTPORT": 4789,
                "VXLAN_NAME": "vxlan0",
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
            ignore=[
                "Error: Parent Qdisc doesn't exists.",
            ],
        ),

        TC(
            client=Ref("admin_dut"),
            command='filter',
            argument=[
                "add dev {DEV_PF0_VF0_REP} parent ffff: chain 0 prio 2 protocol ip "
                "flower skip_sw dst_mac {HOST2_PF0_VF0_MAC} src_mac {HOST1_PF0_VF0_MAC} "
                "action vlan push id 100 protocol 802.1ad priority 0 "
                "action vlan push id 200 protocol 802.1Q priority 0 "
                "action mirred egress redirect dev {DEV_PF0}",

                "add dev {DEV_PF0} parent ffff: chain 0 prio 3 protocol 802.1ad "
                "flower skip_sw vlan_id 100 vlan_ethtype 802.1Q vlan_prio 0 "
                "cvlan_id 200 cvlan_ethtype ip cvlan_prio 0 "
                "dst_mac {HOST1_PF0_VF0_MAC} src_mac {HOST2_PF0_VF0_MAC} "
                "action vlan pop "
                "action vlan pop "
                "action mirred egress redirect dev {DEV_PF0_VF0_REP}",
            ],
            argument_params={
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
                "HOST1_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_dut"),
                    network="p",
                ),
                "HOST2_PF0_VF0_MAC": MacAddress(
                    client=Ref("x86_partner"),
                    network="p",
                ),
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
            },
        ),
        Ip(
            client=Ref("admin_dut"),
            command='address',
            argument='show',
        ),
        Ip(
            client=Ref("admin_dut"),
            command='-d link',
            argument='show',
        ),
        TC(
            client=Ref("admin_dut"),
            command='filter',
            argument=[
                "show dev {DEV_PF0_VF0_REP} egress",
                "show dev {DEV_PF0} egress",
            ],
            argument_params={
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
        ),
        TC(
            client=Ref("admin_dut"),
            command='chain',
            argument=[
                "show dev {DEV_PF0_VF0_REP} egress",
                "show dev {DEV_PF0} egress",
            ],
            argument_params={
                "DEV_PF0": Ref("HOST1_DEV_PF0"),
                "DEV_PF0_VF0_REP": Ref("HOST1_DEV_PF0_VF0_REP"),
            },
        ),
    ],

    test_teardown = [
    ],

    traffic_generators = [
    ],
)

