# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

TCCL(
    include = [
        "test-cases/soc_IPv4_proto_testcase.config",
        "test-cases/soc_IPv4_src_ip_testcase.config",
        "test-cases/soc_IPv4_tos_testcase.config",
        "test-cases/soc_IPv4_ttl_testcase.config",
        "test-cases/soc_IPv4_dest_ip_testcase.config",
        "test-cases/soc_TCPv4_dest_port_testcase.config",
        "test-cases/soc_TCPv4_flags_testcase.config",
        "test-cases/soc_TCPv4_src_port_testcase.config",
    ],
)



