# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

TCCL(
    include = [
        "test-cases/soc_UDPv6_enc_dest_port_testcase.config",
        "test-cases/soc_UDPv6_enc_src_ip_testcase.config",
        "test-cases/soc_UDPv6_enc_dest_ip_testcase.config",
        "test-cases/soc_enc_key_id_testcase.config",
        "test-cases/soc_dest_mac_testcase.config",
        "test-cases/soc_src_mac_testcase.config",
        "test-cases/soc_IPv4_ethertype_testcase.config",
    ],
)
