# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

TCCL(
    include = [
        "test-cases/soc_IPv6_dest_ip_testcase.config",
        "test-cases/soc_IPv6_hlim_testcase.config",
        "test-cases/soc_IPv6_nh_testcase.config",
        "test-cases/soc_IPv6_src_ip_testcase.config",
        "test-cases/soc_IPv6_tc_testcase.config",
        "test-cases/soc_TCPv6_dest_port_testcase.config",
        "test-cases/soc_TCPv6_src_port_testcase.config",
        "test-cases/soc_TCPv6_flags_testcase.config",
    ],
)

