# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

TCCL(
    include = [
        "test-cases/soc_cvlan_id_testcase.config",
        "test-cases/soc_cvlan_prio_testcase.config",
        "test-cases/soc_cvlan_tpid_testcase.config",
        "test-cases/soc_vlan_ethertype_testcase.config",
        "test-cases/soc_vlan_id_testcase.config",
        "test-cases/soc_vlan_prio_testcase.config",
        "test-cases/soc_vlan_tpid_testcase.config",
    ],
)


