# vi:syntax=python
# vim: tabstop=4 expandtab shiftwidth=4 softtabstop=4
# -*- mode: python -*-

TCCL(
    include = [
        "test-cases/soc_UDPv4_enc_dest_port_testcase.config",
        "test-cases/soc_UDPv4_enc_src_ip_testcase.config",
        "test-cases/soc_UDPv4_enc_dest_ip_testcase.config",
    ],
)
